body {
	margin: 0;
	font-family: 'Inter', system-ui;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}

button input {
	font-family: 'Inter', system-ui;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.clear {
	* {
		box-sizing: border-box;
		outline: none;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
	}

	h1,
	h2 {
		margin: 0;
		margin-bottom: 30px;
	}
	h3,
	h4,
	h5 {
		margin: 0;
	}
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
}

.header {
	border-bottom: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	img {
		margin-right: 15px;
	}
	h3,
	p {
		margin: 0;
	}
}

.headerLeft {
	display: flex;
	align-items: center;
}

.headerRight {
	display: flex;
	li {
		margin-right: 30px;
	}
}

.like {
	cursor: pointer;
}

.orders {
  cursor: pointer;
}

.basket {
	cursor: pointer;
}

.content {
	padding: 40px;
}

h5 {
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 14px;
}

.cardWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	// flex-wrap: wrap;
}

// .card {
// 	padding: 19px 29px 29px 29px;
// 	max-width: 210px;
// 	min-height: 260px;
// 	border-radius: 40px;
// 	border: 1px solid #f3f3f3;
// 	background: #fff;
// 	box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
// 	transform: 0.2s ease-in-out;
// 	text-align: center;
// 	transition: box-shadow 0.2s ease-in-out;
// 	&:hover {
// 		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
// 		transform: translateY(-5px);
// 		cursor: pointer;
// 	}
// 	&-footer {
// 		display: flex;
// 		justify-content: space-between;
// 		&__prise {
// 			display: flex;
// 			flex-direction: column;
// 			text-align: left;
// 		}
// 	}
// }

// .favorite {
// 	position: absolute;
// 	cursor: pointer;
// }

// span {
// 	font-size: 13px;
// 	opacity: 0.5;
// 	text-transform: uppercase;
// }

// b {
// 	font-size: 13px;
// }

// .button {
// 	width: 32px;
// 	height: 32px;
// 	background: #ffffff;
// 	border: 1px solid #f2f2f2;
// 	box-sizing: border-box;
// 	border-radius: 8px;
// 	cursor: pointer;
// 	&:active {
// 		background: darken($color: #ffffff, $amount: 5%);
// 	}
// }

.search {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
	h1 {
		max-width: 400px;
		height: 100%;
	}
}

.search-block {
	position: relative;
	align-items: center;
	display: flex;
	border-radius: 10px;
	border: 1px solid #f3f3f3;
	min-width: 250px;
	height: 45px;
	input {
		width: 180px;
		border: 0;
		padding: 12px;
		font-size: 16px;
		color: #c4c4c4;
	}
}

.imgSearch {
	margin-left: 15px;
}

.btnClouseSearch {
	position: absolute;
	right: 0;
	width: 20px;
	height: 20px;
	margin-right: 15px;
}

.drawer {
	display: flex;
	flex-direction: column;
	width: 385px;
	height: 100%;
	position: absolute;
	right: 0;
	background: #fff;
	box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
	padding: 30px;

	h2 {
		display: flex;
		justify-content: space-between;
	}
}

.cartWrapper {
  max-height: 93%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.cartItems {
	flex: 1;
	overflow: auto;
	margin-bottom: 20px;
}

.cartItem {
	display: flex;
	align-items: center;
	border-radius: 20px;
	border: 1px solid #f3f3f3;
	overflow: hidden;
	background: #fff;
	width: 325px;
	height: 119px;
	padding: 0 20px;
	margin-bottom: 20px;
	p {
		margin: 0;
		margin-bottom: 5px;
		font-size: 14px;
		font-weight: 400;
	}
	b {
		font-size: 14px;
		font-weight: 700;
	}
	img {
		&:nth-child(1) {
			margin-right: 20px;
			object-fit: contain;
		}
	}
}

.cartEmpty {
	justify-content: center;
	align-items: center;
	text-align: center;
	flex: 1;
	margin: 65% 0 0 0;
	h2 {
		margin: 20px 0 0 0;
		align-items: center;
		justify-content: center;
	}
	p {
    opacity: 0.4;
    width: 285px;
		margin: 10px auto 40px auto;
	}
}

.btnClouse {
	opacity: 0.5;
	transition: opacity 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}

.cartFooter {
	li {
		display: flex;
		span {
			color: #000;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
	div {
		flex: 1;
		height: 1;
		border-bottom: 1px dashed #dfdfdf;
		position: relative;
		top: -4px;
		margin: 0 7px;
		margin-bottom: 19px;
	}
}

.greenBtn {
	position: relative;
	width: 325px;
	height: 55px;
	border-radius: 18px;
	background: #9dd458;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out;
  &:disabled {
    background-color: #bebebe !important;
    cursor: default;
  }

	&:hover {
		background-color: lighten($color: #9dd458, $amount: 5%);
		img {
			transform: translateX(10px);
		}
	}

	&:active {
		background: darken($color: #9dd458, $amount: 5%);
	}

	img {
		transition: transform 0.2s ease-in-out;
		position: absolute;
		right: 35px;
		top: 20px;
	}
}

.greenBtnLeftImg {
	width: 245px;
	img {
		left: 25px;
	}

	&:hover {
		img {
			transform: translateX(-10px);
		}
	}
}
